extends layout

block variables
  - var title = "Profile"

block content
  .row
    .offset-sm-2.col-sm-8
      h2 View Your Profile

  .row
    .offset-sm-2.col-sm-8
      .alert.text-center
        p #{profile.given_name}
        p #{profile.family_name}
        p #{profile.locale}
        p #{profile.name}
        p #{profile.preferred_username}
        p #{profile.sub}
        p #{profile.updated_at}
        p #{profile.zoneinfo}